#content {
    width: 1000px;
    height:auto;
    /*border:1px solid black;*/
    /*overflow: auto;*/
    margin-left: 50px;
}
#title {
    width: 1000px;
    font-size: 30px;
    font-weight: 900;
    margin-left: 50px;

}