<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.java1234.user.dao.UserDao">

	<select id="login" parameterType="User" resultType="User">
		select * from t_user where userName=#{userName} and password=#{password}
	</select>

	<select id="acquireFintecNews" parameterType="Integer" resultType="News">
		select * from t_FintecNews where id = #{n}
	</select>

	<insert id="createUser" parameterType="User" >
		INSERT INTO t_user(userName, password) values(#{userName}, #{password})
	</insert>

	<insert id="createNews" parameterType="News" >
		INSERT INTO t_FintecNews(title, text, date, site) values(#{title}, #{text}, #{date}, #{site})
	</insert>
	
</mapper> 